.flex-product,.flex-pdf{
    .Products{
        display: block;
        @include media($tablet-portrait) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .product{
                margin-bottom: 10px;
                margin: 20px auto;
                text-align: center;
                @include media($tablet-portrait) {
                    width: 25%;
                }
                a{
                    color: $color-red;
                }
			
        }
    }
}