.flexible-content {
    .flex-product-info{
    display: block;
    @include media($tablet-portrait) {
        display: flex;
        align-items: center;
    }
    .product-img{
        width: 100%;
        text-align: center;
            @include media($tablet-portrait) {
                width: 20%;
            }
        }
        .product-desc{
        width: 100%;
        @include media($tablet-portrait) {
            width: 80%;
        }
            a{
                color: $color-red;
                text-decoration: none;
            }
        }
    }
}