.woocommerce-checkout{
    .entry-header{
        text-align: center;
        margin-bottom: 0;
        .entry-title{
            font-size: 1.4em;
        }
    }
    .entry-content{
        margin-top: 0;
    }
    .woocommerce{
        padding: 30px;
        .woocommerce-checkout .col-2 .order-review{
            border: 2px solid #eae8ea;
            padding: 15px 20px 30px;
            .woocommerce-checkout-review-order{
                .product-name{
                    display: flex;
                    align-items: center;
                    img{
                        width: 50px;
                    }
                    .pro-details{
                        font-size: 16px;
                        padding-left: 10px;
                    }
                }
            }
        }
        .woocommerce-checkout .col-1{
            .woocommerce-account-fields, .woocommerce-billing-fields{
                padding: 2px 30px;
            }
            .woocommerce-additional-fields{
                padding: 2px 30px;
                textarea{
                    padding-top: 0.7em;
                    min-height: 120px;
                }
            }
        }
        .woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
            .woocommerce-info {
                a{
                    text-decoration: none;
                }
            }
        }
    }
}