.featured-post{
	.recent-posts{
		background: #e6e6e6;
        padding: 30px 60px;
		@include outer-container();
		.contents{
			background: #fff;
			margin: 10px 0;
			@include span-columns(12);
			@include media($tablet-portrait) {
				@include span-columns(6);
				@include omega(2n);
			}
			@include media($tablet-landscape) {
				@include omega-reset(2n);
				@include span-columns(4);
				@include omega(3n);
			}
			.blog-post{
				padding: 25px;
				a{
					text-decoration: none;
					color: $color-red;
				}
				.entry-meta{
					color: $color-red;
				}
				.article-title{
					text-transform: capitalize;
					font-size: 16px;
					line-height:1.5;
					
				}
			}
		}
	}
}
