.woocommerce{
    .woocommerce-products-header {
        @include outer-container();
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        .company-logo{
            display: flex!important;
            align-items: center;
            justify-content: center;
            padding: 20px;
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(2);
            }

        }
        .manufacturer-content{
            padding: 20px;
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(10);
            }
            .woocommerce-products-header__title{
              margin: 0;
              a{
              text-decoration: none;
              }
            }
            a{
                text-decoration: none;
                }
            .button-section{
                display: flex;
                .info-btn{
                    padding: 10px;
                    margin-right: 5px;
                }
                .linecard-btn{
                    padding: 10px;
                    margin-left: 5px;
                }

            }
        }
    }
        ul.products{
         padding: 20px;
        }
        ul.products li.product, ul.products[class*=columns-] li.product{
        padding: 20px 0;
        border-bottom: 1px solid #ddd;
        clear: both;
        width: 100%;
        margin: 0;
        .product-wraper{
            @include media($tablet-portrait) {
            display: flex;
            align-items: center;
            }
            @include outer-container();
            .product-image{
                @include span-columns(12);
                @include media($tablet-portrait) {
                @include span-columns(1.5);
                }
                display: flex;
                justify-content: center;
                img{
                padding: 4px;
                line-height: 1.42857;
                background-color: #f1f3f8;
                border: 1px solid #ddd;
                border-radius: 2px;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                display: inline-block;
                max-width: 100%;
                height: auto;  
                }
            }
            .product-content{
                @include span-columns(12);
                @include media($tablet-portrait) {
                @include span-columns(8);
                @include outer-container();
                display: flex;
                align-items: center;
                margin: 0;
                }
                padding-left: 20px;
                .discription{
                    @include media($tablet-portrait) {
                    @include span-columns(6); 
                    }
                    h3{
                        span{
                            font-size: 20px;
                            padding: 10px;
                            color: $color-red;
                        }
                    }
                    p{
                       margin: 0; 
                    }
                }
                .price-details{
                    @include outer-container(); 
                }
               
            }   
        }
    }
    ul.products li.product .button{
    margin-top: 0;    
    }
}