.woocommerce {
    
    .woocommerce-breadcrumb{
        text-transform: uppercase;
        color: $color-red;
        a{
            color: $color-red;  
        }
    }
    .single-product {
        @include outer-container();
        .product-status{
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
            .product-image{
                
                img{
                    width: 100%;
                    height: auto;
                    border: 1px solid $color-red;
                }
            }
            .pdf-button{
                text-align: center;
                padding: 20px;
                margin-bottom: 20px;
                .button{
                    width: 100%;
                    .svg-inline--fa.fa-w-12 {
                       font-size: 20px; 
                    }
                }
            }
            .product-short-description{
                border: 1px solid $color-red;
                padding: 20px;
                margin-bottom: 20px;
            }
            .unit-price{
                border: 1px solid $color-red;
                padding: 20px;
                margin-bottom: 20px;
            }
            .unit-price{
                .unit-list{
                    margin: 0;
                    padding: 5px;
                    list-style: none;
                }
            }
        }
        .product-description{
            @include span-columns(12);
            .product_title{
                color: $color-red;
                text-align: center;
            }
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
            .add-tocart,.price-break, .quotation-button{
                border: 1px solid $color-red;
                padding: 20px;
                margin-bottom: 20px;
            }
            .add-tocart{
                .product-price{
                    color: $color-red;
                    text-align: center;
                }
                .cart{
                    display: flex;
                    justify-content: space-evenly;
                    .quantity .qty{
                        color: #000;
                    }
                }
            }
        }
        
        
    }
    .product-category{
        margin: auto;
        a{
            text-decoration: none;
        }
    }
}
