//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Grayscale
//    - Social Media Colors
//       - $social-colors() map
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//-------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// Primary palette
$color-light-yellow: #fff9c0;
$color-black: #363636;
$color-white: #fff;
$color-red:#7f1418;
$ds-black :#333333;

// Grayscale
$color-gray: #808080;
$color-cod-gray: #777;
$color-mineshaft: #545454;
$color-tundora: #454545;
$color-dove-gray: #e6e6e6;
$color-gray-alt: #929292;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-alto: #ddd;
$color-gallery: #eee;
$color-whitesmoke: #f4f4f4;
$ds-color:#363636;

/// Sass map used for creating color presentational classes.
$theme-colors: (
	blue: #21759b,
	light-yellow: #fff9c0,
	black: #000,
	white: #fff,
	gray: #808080,
	cod-gray: #111,
	mineshaft: #333,
	dove-gray: #666,
	gray-alt: #929292,
	silver-chalice: #aaa,
	silver: #ccc,
	alto: #ddd,
	gallery: #eee,
	whitesmoke: #f1f1f1,
);

// Social Media Colors
$color-facebook: #bebebe;
$color-googleplus: #bebebe;
$color-instagram: #bebebe;
$color-linkedin: #bebebe;
$color-pinterest: #bebebe;
$color-rss: #f90;
$color-twitter: #bebebe;
$color-youtube: #bebebe;


/// Social media `$social-colors()` map
$social-colors: (
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	googleplus: $color-googleplus,
	googleplus-square: $color-googleplus,
	instagram: $color-instagram,
	instagram-square: $color-instagram,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
);

// ELEMENTS & SKINNING

// General
$color-background-body: $color-white;
$color-text-main: $ds-black;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;

// Accessibility
$color-background-screen-reader: $color-whitesmoke;
$color-text-screen-reader: $color-red;

// Links
$color-link: $color-mineshaft;
$color-link-visited: $color-red;
$color-link-hover:$color-silver-chalice;
