//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------
aside{
	padding: 20px;
	background: #363636;
	@include span-columns(12);
	@include media($tablet-landscape) {
	 @include span-columns(4);
	}

	.widget {
		@include span-columns(12); 
		margin: 0 0 rem(24);
		padding: 20px;
		background: #363636;
		max-width: 90%;

		// Make sure select elements fit in widgets.
		select {
			max-width: 100%;
		} // select

		// Extend the h3 style for the widget titles.
		.widget-title {
			@extend .h3 !optional;
		} // .widget-title
		ul{
			padding: 0;
			margin: auto;
			li{
				list-style: none;
				margin: 0 0 0 14px;
				padding: 9px;
				text-transform: uppercase;
				margin: 0 0 0 14px;
				padding: 9px;
				border-bottom: 1px solid $color-white;
				line-height: 15px;
				&:hover{
					border-bottom: 3px solid $color-white;
				}
				a{
					text-decoration: none;
					color: #ffff;
					
				}
			}
		}
	} // .widget
}
// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit

